body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: azure;
  font-size: large;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat" sans-serif;
}

footer {
  padding: 25px 0;
}
div.results {
  margin-top: 15px;
}

div.wrapperResults {
  text-align: center;
}

div.col {
  margin: auto;
}

div.mainTitle {
  margin-top: 50px;
}
